@using System.Globalization

@model int?

@{
    var birthdays = new List<Birthday>()
    {
        new Birthday
        {
            BornIn = new DateTime(2021, 10, 23),
            Person = "Billie",
        },
        new Birthday
        {
            BornIn = new DateTime(1988, 11, 4),
            Person = "Maria",
        },
        new Birthday
        {
            BornIn = new DateTime(1989, 2, 20),
            Person = "Johan",
        },
        new Birthday
        {
            BornIn = new DateTime(1989, 5, 3),
            Person = "Jon",
        },
        new Birthday
        {
            BornIn = new DateTime(1989, 3, 14),
            Person = "Emil",
        },
    };

    var months = CultureInfo.CurrentCulture.DateTimeFormat.MonthNames.Take(12).ToList();
}

@if (Model == null)
{
    <ul>
    @for(var index = 0; index < 12; index++)
    {
        var month = index + 1; 
        var monthName = months[index];

        var anyBirthdayThisMonth = birthdays.Any(birthday => birthday.BornIn.Month == month);
        
        <li>
        @if (anyBirthdayThisMonth)
        {
            <a asp-action="Overview" asp-route-month="@month">
                @monthName
            </a>
        }
        else
        {
            @monthName
        }
        </li>
    }
    </ul>
}
else
{
    var month = Model.Value; 
    var monthName = months[Model.Value-1];

    var birthdaysThisMonth = birthdays.Where(birthday => birthday.BornIn.Month == month);

    <h2>@monthName</h2>
    <ul>
        @foreach(var birthday in birthdaysThisMonth)
        {
            <li>
                @birthday.Person fyller år den @birthday.BornIn.ToString("dd'/'MM") 
            </li>
        }
    </ul>
    <a asp-action="Overview" asp-route-month="">
        Till toppen av översikten
    </a>
}

@section Overview_style
{
    <style>

        li {
            font-weight: bold;
        }

    </style>
}
